#mainPane {
    -fx-background-color: #DDD;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#notiField {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: #999;
}

.vbox {
    -fx-background-color: #DDD;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button {
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: #F2F2F2;
}

#instructionTitle {

}

#backButton {
   -fx-background-color: #FFF;
}

#backButton:hover {
    -fx-opacity: 0.5;
}